.ul-navbar {
    background-color: violet;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.ul-navbar li {
    list-style: none;
    font-size: 20px;

}

.ul-navbar a {
    text-decoration: none;
}